
/node_modules
.vs/NTSDecisionSupportSystem/FileContentIndex/5617ead9-03a5-4522-9c7d-5fe4d77b95c1.vsidx
.vs/NTSDecisionSupportSystem/FileContentIndex/read.lock
.vs/NTSDecisionSupportSystem/v17/.wsuo
.vs/slnx.sqlite
.vs/VSWorkspaceState.json
.vscode/settings.json
